@font-face {
  font-family: 'Futura';
  src: url('./fonts/FuturaCyrillicLight.woff');
}
@font-face {
  font-family: 'FuturaBold';
  src: url('./fonts/FuturaCyrillicBold.woff');
}
@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-Regular.ttf');
}

:root {
  --gradRougeBan: linear-gradient(130deg, #00ffaa -160%, #2D005D 50%, #FF304C 130% );
  --gradRougeEvent: linear-gradient(100deg,#FF304C -50%, #2D005D 70%, #00ffaa 130%);
  --gradRougeBanZ: linear-gradient(90deg, #FF304C 50%, #2D005D 99%);
  --blanc: #E3DEE8;
  --bleu: rgba(45, 0, 93, 0.7);
  --blanc20: rgba(255, 255, 255, 0.2);
  --futura: 'Futura';
  --futuraBold: 'FuturaBold';
  --orbitron: 'Orbitron';
  --ligne: linear-gradient(90deg, white 0%, transparent 120%);;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2D005DB2;
}